body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

button {
  background: linear-gradient(135deg, #8a2be2, #6a0dad); /* gradiente violeta */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.2s;
}

button:hover {
  background: linear-gradient(
    135deg,
    #9b30ff,
    #4b0082
  );
  transform: scale(1.05);
}

button:active {
  background: linear-gradient(135deg, #5d3fd3, #2e0854); /* tonos más oscuros */
  transform: scale(0.95);
}
